.title {
    font-size: 80px;

}

.center {
    text-align: center;
    padding: 10px 0;

}

.box {
    border: red solid 5px;
    background:grey;
    opacity: .9;
}

.container {
    padding: 90px 0;

}

img {
    width: 30%;
}

body {
    background-image: url("../images/tavern.jpg");
    background-size: 100%;
}